<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01/EN" "https://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title> Sport Shop </title>
    </head>

    <body>
        <div>
            Sport Shop
        </div>
        <div>
            <br>
        </div>
        {% block content %}
        {% endblock %}
        <div>
            <br>
        </div>
        <div>
                Working time: 9:00-21:00 every day
        </div>
        <div>
                Phone: +375(29)123-45-67
        </div>
        <div>
                Address: Minsk
        </div>
    </body>
</html>
