DJANGO_SETTINGS_MODULE=settings.development

JWT_SECRET_KEY=JWT_SECRET_KEY
TIMEOUT_IN_MINUTES_TIME=100000

HOST_URL=http://127.0.0.1:8000/


# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY='django-insecure-#z6^7x-7hqsao4jfehz5ig@y6u5r33mll!c#%^9^2k!rovbwy)'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=True
ENV = "development"

# For Django
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin


# # For local test
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_NAME=shtutgart
# DB_USER=postgres
# DB_PASS=123456789

# CELERY_BROKER_URL=redis://127.0.0.1:6379/1
# CELERY_RESULT_BACKEND = redis://localhost:6379/1
# CELERY_DEFAULT_QUEUE=CELERY_DEFAULT_QUEUE
# CELERY_DEFAULT_EXCHANGE=CELERY_DEFAULT_EXCHANGE
# CELERY_DEFAULT_ROUTING_KEY=CELERY_DEFAULT_ROUTING_KEY

# REDIS_URL=redis://127.0.0.1:6379
# REDIS_HOST=127.0.0.1
# REDIS_PORT=6379
# REDIS_DB=0


# For Docker
DB_HOST=PostgreSQL
DB_PORT=5432
DB_NAME=shtutgart
DB_USER=postgres
DB_PASS=123456789

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_DEFAULT_QUEUE=CELERY_DEFAULT_QUEUE
CELERY_DEFAULT_EXCHANGE=CELERY_DEFAULT_EXCHANGE
CELERY_DEFAULT_ROUTING_KEY=CELERY_DEFAULT_ROUTING_KEY

REDIS_URL=redis://redis:6379
REDIS_HOST=Redis
REDIS_PORT=6379
REDIS_DB=0




