[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0"
django-cors-headers = "==4.6.0"
django-extensions = "==3.2.3"
django-filter = "==24.3"
djangorestframework = "==3.15.2"
djangorestframework-jwt = "==1.11.0"
ipython = "==8.29.0"
psycopg2-binary = "==2.9.10"
python-dotenv = "==1.0.1"
loguru = "==0.7.2"
gunicorn = "==23.0.0"
drf-spectacular = "==0.27.2"
requests="==2.32.3"
parsel = "==1.9.1"
faker = "==33.0.0"
Pillow = "==11.0.0"
pytz= "*"
typing-extensions ="*"

[dev-packages]
pre-commit = "==4.0.1"
flake8 = "==7.1.1"

[requires]
python_version = "3.12"

[scripts]
server = "python manage.py runserver"
shell = "python manage.py shell_plus"
seed = "python scripts/run_seeds.py"
migrate = "python manage.py migrate"
auto_migration = "python manage.py makemigrations"
script = "python scripts/run_script.py"